//
//  Privacy_Keys.xcconfig
//  ImageGalaryApp
//
//  Created by Nikita Moskalenko on 3.01.24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = https:/$()/api.unsplash.com/
ACCESS_KEY = tprjGue5XdbHt0LczfhQgV66akV26dUMAnD7AawT41Y
